
<div class="jumbotron text-center">
  <h1>Contact details</h1>
  <p>Adibatla Transportation</p>
</div>
  

  <div class="row">
    <div class="col-sm-4">
      <h3>MSR Anjaneyulu</h3>
      <p>Adibatla Transport Incharge</p>
       <p><span class="glyphicon glyphicon-envelope"></span><span> anjaneyulu.msr@tcs.com</span></p>
      <p> <span class="glyphicon glyphicon-earphone"></span><span> 8885067752</span></p>
       <p> <span class="glyphicon glyphicon-phone-alt"></span><span> 084146-11114</span></p> 
      
    </div>
    <div class="col-sm-4">
      <h3>Transportation HelpDesk</h3>
      <p><span class="glyphicon glyphicon-envelope"></span><span> adibatla.transportaton@tcs.com</span></p>
    <p> <span class="glyphicon glyphicon-earphone"></span><span> 9246730329</span> </p>
      <p> <span class="glyphicon glyphicon-phone-alt"></span><span> 084146-11113/4</span></p>
    </div>
    <div class="col-sm-4">
      <h3>Mitul Mishra</h3>
      <p>Adibatla Admin Incharge</p>
      <p><span class="glyphicon glyphicon-envelope"></span><span> mitul.mishra@tcs.com</span></p>
      <p> <span class="glyphicon glyphicon-earphone"></span><span> 7799602211</span></p>
       <p> <span class="glyphicon glyphicon-phone-alt"></span><span> 084146-10211</span></p>     
    </div>
  </div>


  <div class="jumbotron">
   <div class="row">
    <div class="col-sm-12">
  <h2>Need Help ? Write to us </h2>
  <p>Assistance at your finger tips</p>
   </div>
</div>
<div class="row">
 <!--   <form class="form-horizontal">
  <div class="form-group">
       <label class="control-label col-sm-2" for="email">TCS MailId*:</label> <div class="col-sm-10">
      <input type="email" class="form-control" id="email" placeholder="Enter email" required>
    </div>
  </div>
  <div class="form-group">
       <label class="control-label col-sm-2" for="message">Message*:</label> <div class="col-sm-10">
      <textarea rows="10" cols="50"  class="form-control" id="message" placeholder="Enter your message" required></textarea>
    </div>
  </div>
     <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-warning btn-sm pull-right">Submit</button>
    </div>
  </div>
      </form>
    -->
</div>


<div class="row">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe3AtL1tn5dhIExGntBy-Uu1g6YDWwpZlgv_GsqgJbu-7lZYA/viewform?embedded=true#start=embed" width="100%" height="1100px" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>
</div>




<!--

<div class="center-block">
  <h2>Have  you read our FAQ yet ?
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo"> Read Here </button></h2>
  <div id="demo" class="collapse in">
   
</div>
  
</div>
-->

<div class="jumbotron text-center">
<div class="row">
    <div class="col-sm-6"> 
<p>Tata Conusltancy Services Ltd</p>
Adibatla, Hyderabad, Telangana ,501510, India.
</div>
<div class="col-sm-6">
  
  
        <div id='gmap_canvas' style='height:180px;width:100%;'>
            </div>
       
             <style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
            
</div>


</div>
</div>
