
<div class="jumbotron">
    <div class="row">
<!--<label for="source">Source</label><input id="source" type="text" value="" [(ngModel)]="sourcevalue" placeholder="Enter source"/>-->
<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" id="my-element">
   <label for="srcplace"  class="pull-left">From</label> 
<select name="Source" value="Source" class="form-control"  id="srcplace" (change)="getSrcBusDetails()" >
    <option [disabled]="!srcloc" >Select From location</option>
    <option value="Adibatla">Adibatla</option>
    <option *ngFor="#source of busessources" value="{{source}}">{{source}}</option>
    
</select>

</div>
<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" id="swap">
    <a href="#" id="swap-element" *ngIf="(!srcloc && !destloc && sourcevalue) || (!srcloc && destloc && sourcevalue)" (click)="swapBusDetails()">
       <span class="glyphicon glyphicon-resize-horizontal hidden-sm-down visible-md visible-lg" style="font-size: 150%;margin-top: 30px;"></span>
       <span class="glyphicon glyphicon-resize-vertical hidden-md-up visible-sm visible-xs" style="font-size: 150%;margin-top: 5px;"></span>
        <!--<img alt="Swap Locations" id="swapImgLarge" class="hidden-sm-down visible-md visible-lg" src="../../swap_large.png" style="height:25px;width:50%;position:relative;left:20%;top:30px;"  />
        <img alt="Swap Locations" id="swapImgSmall" class="hidden-md-up visible-sm visible-xs" src="../../swap_small.png" style="height:50px;width:50px;position:relative;left:45%;top:10px;"/>-->
    </a>
</div>
<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" id="my-other-element">
    <label for="destplace" class="pull-left">To</label> 
<select name="Source" value="Source" class="form-control"  id="destplace"  [disabled]="srcloc" (change)="getDstBusDetails()" >
    <option [disabled]="!destadi || !destloc">Select to location</option>
    <option value="Adibatla" [disabled]="!destadi">Adibatla</option>
    <option *ngFor="#source of busessources" value="{{source}}"  [disabled]="!destloc">{{source}}</option>
    
</select>

</div>
    </div>
    <div class="row" *ngIf="!busessources">
        Something has gone wrong. We are working on the issue. Please try again later.
        Sorry for the inconvineance.
        </div>
</div>
<!--
<div class="dropdown" >
 
    <label for="source">Source</label><input id="source" class="form-control input-lg" type="text" value="" [(ngModel)]="sourcevalue" placeholder="Enter source"/>
    <ul class="dropdown-menu displayblock" *ngIf="sourcevalue" role="menu">
        <li *ngFor="#source of busessources | sourceFilter : sourcevalue" ><a (click)="getBusDetails()">{{source}}</a></li>
        
    </ul>
</div>
 <div class="btn-group" dropdown keyboardNav="true">
    <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" dropdownToggle>
      Dropdown with keyboard navigation <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" dropdownMenu role="menu" aria-labelledby="simple-btn-keyboard-nav">
      <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </div>

<div class="col-lg-5">
<input type="text" name="route" list="busroutes" class="form-control input-sm" placeholder="Start typing your location or select from the dropdown" value="" [(ngModel)]="sourcevalue" (change)="getBusDetails()">
<datalist id="busroutes" class="dropdown-menu">
    <select name="Source" value="Source" class="form-control"  id="places" (change)="getBusDetails()" >
    <option *ngFor="#source of busessources" [value]="source"><a (click)="getBusDetails()">{{source}}</a></option>
    
    </select>
</datalist>
</div>
-->

<busroutes-list [buseslist]="buses" [sourceselected]="sourcevalue" [srcadi]="srcadi" [srcloc]="srcloc" [destadi]="destadi" [destadi]="destadi" [destloc]="destloc" [weatherdata]="weatherdata"  (selectroute)="selectedroute($event)"></busroutes-list>
